* {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.counter {
    display: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    width: 50%;
    height: 40px;
    font-size: 24px;
}


